/* tipografia */
h1 {
    font-family: $playfair;
    font-weight: $italic;
    color: white;
    margin: 0px 25px 0px 25px;
}

h4 {
    color: $fuzzyguzzy;
}

body  {
    font-family: $roboto;
    color: $nickel;
    
}
